

.facilities-body {
  background: #fffff9;
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: 'Lato', sans-serif;
}

.facilities-container {
    width: 90%; 
    margin-bottom: 20px;
    margin-top: 110px;
    position: inherit;
}
@media(max-width:435px){
  .facilities-container{
    width:130%;
    position:static;
    margin-top: 5px;

  }
}

.facilities-cards-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    width: 100%;
    height: 170px;
    margin-left: 40px;
}
@media(max-width:435px){
  .facilities-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 115%;
    height: 170px;
    margin-left: 0px;
    
}

}


.facilities-card {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-align: center;
    flex: 0 0 calc(20% - 1rem); 
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
@media(max-width:435px){
  .facilities-card{
    width: 500px;
    margin: 3.3rem;
    margin-right: 50px;
    margin-top: 1px;
    margin-left: 15px;
  }
}


.facilities-icon-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
   
  }
  @media(max-width:435px){
    .facilities-icon-container {
      flex: 2; 
      display: flex;
      justify-content: center; 
      align-items: center; 
     
    }
    
  }

.facilities-card:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}

.facilities-card-content {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 40%;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
@media(max-width:435px){
  .facilities-card-content {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

}
.facilities-head {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    
}
@media(max-width:435px){
  .facilities-head{
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 80px;
    margin-left: 220px;
    margin-bottom: 40px;
  }
}

.facilities-para {
     color: #000;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-bottom: 50px;
    margin-right: 340px;
}
@media(max-width:435px){
  .facilities-para{
   
    margin-left: 170px;
    margin-right: 0px;
    text-align: center;
    position: inherit;
  }
}

.facilities-button1 {
    color:white;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    margin-left: 360px;
    background-color: #618e95;
}
@media(max-width:435px){
  .facilities-button1{
    margin-top: 500px;
    align-items: center;
    margin-left: 225px;
  }
  .facilities-main{
    width:435px;
  }
}

.fs-column-list {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 40px;
  align-items:flex-start;
  padding-left: 0px;
  margin-top: 50px; 
}
@media(max-width:435px){
 .fs-column-list{
  margin-top: 300px;
  padding-left: 20px;
}
}

.fs-column {
  background-color:none;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.fs-column h2 {
  margin-top: 0;
  align-self: flex-start;
}

.fs-column ul {
  margin-top: 0;
  padding-left: 0px;
}

.fs-column ul li {
  list-style-type: none;
  margin-bottom: 5px;

  
  
}
.fs-column ul li::before{
  content: '\2713'; 
  
  margin: 6px; 
  top: 0;
}

  


  
