.facilitiescontainer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  
  .facilitiesrow1 {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-bottom: 20px; 
    box-shadow: none;
  }
  
  .facilitiescard1 {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ece1e1;
    border-radius: 5px;
    width: calc(50% - 20px); /* Adjusted width for two-column layout */
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    height: 110px;
    background-color: #ffffff;
    box-shadow: none;
   
  }
  
  .facilitiesiconcontainer1 {
    display: flex;
    justify-content: center;
  }
  
  .facilitiescardcontent1 {
    text-align: center;
  }
  
  .facilitiescard1:hover {
    box-shadow: 0 4px 1rem -4px #33cccc;
    transform: translateY(6px);
  }
  
  .facilitiescardcontent1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
  }
 
/* media 435px*/
@media(max-width:435px){
  .facilitiesrow1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; 
   
  }

  .facilitiescard1 {
    width: calc(50% - 10px); /* Adjusted width for two-column layout */
    margin: 0.5rem;
    padding: 10px;
    border: 2px solid rgb(237, 232, 232);
    border-radius: 10px;
    height: 100px;
    box-shadow: none !important; /* Add this to remove box shadow for cards */
  }

  .facilitiescontainer1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: none;
  }
  .facilitiescardcontent1 {
    justify-content: center;
    height: 50%;
    font-size: 8px;
   
  }
}


  @media(max-width:768px){
    .facilitiesrow1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 85%;
      
    }
    .facilitiescard1 {
      width: 85%;
      margin: 0.5rem;
      box-shadow: 0px 0px 0px 1px rgba(141, 138, 138, 0.3);
      margin-top: 20px;
      height: 130px;
      margin-right: 1px;
    }
    .facilitiescontainer1{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      margin-left: 30px;
      
    }
  }
  @media only screen and (min-width: 1370px) and (max-width: 1440px)
  {
    .facilitiescontainer1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    
    .facilitiesrow1 {
      display: flex;
      justify-content: space-between;
      width: 65%;
      margin-bottom: 20px; 
    }
    
    .facilitiescard1 {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ece1e1;
      border-radius: 5px;
      width: calc(50% - 20px);
      transition: transform 0.3s ease, box-shadow 0.5s ease;
      height: 110px;
      background-color: #ffffff;
     
    }
  }
  @media only screen and (min-width: 1030px) and (max-width: 1369px)
  {
    .facilitiescontainer1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    
    .facilitiesrow1 {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 20px;
    }
    
    .facilitiescard1 {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ece1e1;
      border-radius: 5px;
      width: calc(50% - 20px);
      transition: transform 0.3s ease, box-shadow 0.5s ease;
      height: 110px;
      background-color: #ffffff;
     
    }
  }

  @media only screen and (min-width:769px) and (max-width:1024px)
  {
    .facilitiescontainer1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 100px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
    
    .facilitiesrow1 {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
    }
    
    .facilitiescard1 {
      margin: 10px;
      padding: 10px;
      border: 1px solid #ece1e1;
      border-radius: 5px;
      width: calc(50% - 20px);
      transition: transform 0.3s ease, box-shadow 0.5s ease;
      height: 120px;
      background-color: #ffffff;
     
    }
  }