

.facilitiesbody {
  background: #fffff9;
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  font-family: 'Lato', sans-serif;
}

.facilitiescontainer {
    width: 90%; 
    margin-bottom: 20px;
    margin-top: 110px;
    position: inherit;
}
@media(max-width:435px){
  .facilitiescontainer{
    width:130%;
    position:static;
    margin-top: 120px;

  }
}

.facilitiescardscontainer {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    width: 100%;
    height: 170px;
    margin-left: 40px;
}
@media(max-width:435px){
  .facilitiescardscontainer {
   
    grid-template-columns: repeat(20px,);
    margin-top: 40px;
    width:150%;
    height: 1000px;
    margin-left: 15px;
    display: grid;

   
    
    
}

}


.facilitiescard {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    text-align: center;
    flex: 0 0 calc(20% - 1rem); 
    width: 100px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
@media(max-width:435px){
  .facilitiescard{
    width: 500px;
    margin: .3rem;
    margin-right: 50px;
    margin-top: 10px;
    margin-left: 40px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
}


.facilitiesiconcontainer {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;
   
  }
  @media(max-width:435px){
    .facilitiesiconcontainer {
      display: grid;
      grid-template-columns: repeat(2);
      grid-template-rows: repeat(0, 10px);
      grid-gap: 15px;
      
      padding-left: 0px;
      margin-top: 10px; 
     
    }
    
  }

.facilitiescard:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
}

.facilitiescardcontent {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 40%;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
@media(max-width:435px){
  .facilitiescardcontent {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

}
.facilitieshead {
    color: #000;
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    
}
@media(max-width:435px){
  .facilitieshead{
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 80px;
    margin-left: 330px;
    margin-bottom: 40px;
  }
}

.facilitiespara {
     color: #000;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    position:absolute;
    margin-bottom: 50px;
    margin-right: 340px;
}
@media(max-width:435px){
  .facilitiespara{
    display: flex;
    padding: 0px 0px 0px 0px;
    position:0;
    margin-left: 40px;
    width: 180%;
  }
}

.facilitiesbutton1 {
    color:white;
    padding: 10px 50px;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    margin-left: 360px;
    background-color: #618e95;
}
@media(max-width:435px){
  .facilitiesbutton1{
    margin-top: 50px;
    align-items: center;
    margin-left: 290px;
    width: 70%;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
  }
  .facilitiesmain{
    width:435px;
  }
}

.fscolumnlist {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 40px;
  align-items:flex-start;
  padding-left: 0px;
  margin-top: 50px; 
}
@media(max-width:435px){
 .fscolumnlist{
  margin-top: 100px;
  padding-left: 20px;
  margin-left: 100px;
  grid-gap:40px;
  margin-bottom: 10px;
}
}

.fscolumn {
  background-color:none;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.fscolumnh2 {
  margin-top: 0;
  align-self: flex-start;
}

.fscolumn ul {
  margin-top: 0;
  padding-left: 0px;
}

.fscolumn ul li {
  list-style-type: none;
  margin-bottom: 5px;

  
  
}
.fscolumn ul li::before{
  content: '\2713'; 
  
  margin: 6px; 
  top: 0;
}

  


  
