/* Base styles */
.facilitiesbody {
  background: #fffff9;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.facilitiescontainer {
  width: 90%;
  margin-bottom: 20px;
  margin-top: 110px;
  position: inherit;
 
}

.facilitiescardscontainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  height: 170px;
  margin-left: 40px;
}

.facilitiescard {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  background: #fff;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  text-align: center;
  flex: 0 0 calc(20% - 1rem);
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.facilitiesiconcontainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.facilitiescard:hover {
  box-shadow: 0 4px 1rem -4px #000;
  transform: translateY(6px);
}

.facilitiescardcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40%;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.facilitieshead {
  color: #000;
  text-align: center;
  font-size: 50px;
  font-family: 'Merriweather', serif;
  margin-left: 25px;
}

.facilitiespara {
  color: #000;
  text-align: center;
  margin-top: 0px;
  font-family: 'Lato', sans-serif;
  position: absolute;
  margin-bottom: 50px;
  margin-right: 470px;
}

.facilitiesbutton1 {
  color: white;
  padding: 10px 50px;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  margin-left: 425px;
  background-color: #618e95;
  transition: background-color 0.3s ease;
}
.facilitiesbutton1:hover {
  background-color: #618e99; /* Change to desired hover color */
}

.facilitieshidebutton {
  display: inline-block;
  margin-left: 460px;
  border: none;
  padding: 20px;
  background-color: #fffff9;
  color: #618e95;
}

.facilitieshidebutton span {
  display: block;
  margin-top: 15px;
  color: #618e95;
  font-weight: bold;
  font-size: 15px;
}

.fscolumnlist {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-template-rows: repeat(3, 250px);
  grid-gap: 90px;
  align-items: flex-start;
  margin-top: 10px;
}

.fscolumn {
  background-color: none;
  padding: 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.fscolumnh2 {
  margin-top: 0;
  align-self: flex-start;
}

.fscolumn ul {
  margin-top: 0;
  padding-left: 0px;
}

.fscolumn ul li {
  list-style-type: none;
  margin-bottom: 5px;
}

.fscolumn ul li::before {
  content: '\2713';
  margin: 6px;
  top: 0;
}

/* Media queries */

/* Max width 768px */
@media(max-width:768px) {
  .facilitiescardscontainer {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 5px;
    margin-top: 150px;
    margin-bottom: 800px;
  }

  .facilitiescard {
    width: 70%;
    margin: 1.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    margin-left: px;
    margin-bottom: 10px;
  }

  .facilitiescard:nth-last-child(1) {
    grid-column: 1 / span 2;
    width: calc(87% - 10px);
    margin: 0.5rem;
    margin-left: 25px;
  }

  .facilitieshead {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 75px;
    margin-bottom: 40px;
  }

  .facilitiespara {
    display: flex;
    padding: 0px 0px 0px 0px;
    position: 0;
    margin-left: 0px;
    width: 70%;

  }

  .facilitiesbutton1 {
    margin-left: 180px;
    margin-bottom: 40px;
  }

  .facilitieshidebutton {
    margin-left: 220px;
  }

  .fscolumnlist {
    grid-gap: 15px;
    font-size: 11px;
    margin-left: -30px;
  }
}

/* Max width 435px */
@media(max-width:435px) {
  .facilitiescontainer {
    max-width: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
    gap: 1rem;
    margin-bottom: -200px;
  }

  .facilitiescardscontainer {
    max-width: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(170px, auto);
    grid-gap: 15px;
    margin-left: -60px;
    margin-right: 0px;
    margin-top: 65px;
  }

  .facilitiescard {
    width: 70%;
    margin: 1.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: 0px;
    height: 130px;
  }

  .facilitiescard:nth-last-child(1) {
    grid-column: 1 / span 2;
    width: calc(87% - 10px);
    margin: 0.5rem;
    margin-left: 28px;
  }

  .facilitiescardcontent {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-family: 'Lato', sans-serif;
  }

  .facilitiesiconcontainer {
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(0, 0.3rem);
    grid-gap: 10px;

  }

  .facilitiesbutton1 {
    margin-left: 60px;
  }

  .facilitiespara {
    margin-left: -17px;
  }

  .facilitieshidebutton {
    margin-left: 60px;

  }

  .fscolumnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 600px);
    grid-gap: 0px;
    align-items: center;
    margin-top: 15px;
  }
}

@media only screen and (min-width:1030px) and (max-width:1366px) {
  .facilitiescontainer {
    width: 65%;
    margin-bottom: 20px;
    margin-top: 110px;
    position: inherit;
    margin-left: 170px;
  }

  .facilitiespara {

    color: #000;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    margin-bottom: 50px;
    margin-right: 75px;
    margin-left: 30px;

  }

  .facilitiesbutton1 {
    margin-left: 520px;
  }
}

@media only screen and (min-width:769px) and (max-width:1024px) {
  .facilitiescontainer {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 110px;
    position: inherit;
    margin-left: 440px;
  }

  .facilitiesbutton1 {
    margin-left: 795px;
  }

  .facilitiespara {

    color: #000;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 470px;

  }

  .facilitieshidebutton {
    margin-left: 750px;
  }

  .fscolumnlist {
    grid-gap: -15px;
    font-size: 11px;
    margin-left: 350px;
    margin-bottom: -150px;
  }

  .facilitieshead {
    margin-left: 250px;
  }

}

@media only screen and (min-width:1370px) and (max-width:1440px) {
  .facilitiespara {

    color: #000;
    text-align: center;
    margin-top: 0px;
    font-family: 'Lato', sans-serif;
    position: absolute;
    margin-bottom: 50px;
    margin-right: 220px;
    margin-left: 0px;

  }

  .facilitieshidebutton {
    margin-left: 420px;
  }
}
