.hotelRoomMainDiv-R2 {
    width: 100%;
    align-items: center;
  
  
  }
  .rooms-sub-content-R2{
    color: rgba(51, 49, 49, 0.767);
    opacity: 1;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: justify;
    line-height: 1.5;
    font-family: "lato", sans-serif;
    text-align: center;
    
  }
  .hotelRoom-row-R2 {
   width: 100%;
   margin-left: auto !important;
   margin-right: auto !important;
   justify-content: center;
   align-items: center;
  }
  .hotelRoom-col-R2 {
    display: flex;
    flex-direction: row;
    gap: auto;
  
  }
  .custom-modal .ant-modal-content {
    background-color: #e0f8fa; /* Change this to your desired background color */
}

.custom-modal .ant-modal-header {
    background-color: #8f8585; /* Change this to match the content background color */
}

.custom-modal .ant-modal-body {
    background-color: #e0f8fa; /* Change this to match the content background color */
}
  
  @media (max-width: 768px) {
        .hotelRoomMainDiv-R2 {
          margin-left: auto;
          margin-right: auto;
          width: 90%;
        }
        .rooms-sub-content{
          text-align: justify;
          width: 95%;
          
        }
    
    .hotelRoomMainRow-R2 {
      display: block; /* Change to block to display columns one after the other */
      width: 80%;
      /* margin-left: 20px; */
      
    }
    .rooms-main-contaner-R2 {
      width: 100%;
    }
  
    .hotelRoomMainRow > .ant-col {
      width: 100%; /* Each column takes up full width on mobile */
      margin-bottom: 20px; /* Add spacing between columns */
    }
  }
  .room-text-wraper-R2{
    width: 95%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
  }
  