.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}


.aboutTextWrapper {
  text-align: center;
  margin-top: 80px;
}

.aboutH1 {
  color: black;
  font-size: 50px;
  margin-top: 25px;
  font-family: "Cadmium", sans-serif;
  font-weight: lighter;
  margin-left: 35px;
}

.paragraphContainer {
  width: 80%;
  padding: 0 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  line-height: 2;
  font-family: "Cadmium", sans-serif;
}

.aboutCouroselComponent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -30px;
}


.carousel-container {
  margin: 10px; 
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    height: auto;
  }

  .aboutTextWrapper {
    margin-top: 30px; 
    padding-left: 20px; 
  }

  .aboutH1 {
    font-size: 30px; 
    margin-left: 20px; 
    margin-top: 10px; 
  }

  .paragraphContainer {
    width: 90%;
    margin-top: 10px; 
    text-align: center; 
  }

}

@media only screen and (min-width: 1370px) and (max-width: 1605px) {
    .aboutContainer {
      width: auto;
      height: auto;
    }
    .carousel-container {
      margin: 5px; 
    }

    .aboutH1 {
      color: black;
      font-size: 50px;
      margin-top: 25px;
      font-family: "Cadmium", sans-serif;
      font-weight: lighter;
      justify-content: center;
    }
    
    .paragraphContainer {
      width: 80%;
      padding: 0 20px;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      line-height: 2;
      font-family: "Cadmium", sans-serif;
      justify-content: center;
    }
  }

