.carousel-container {
    width: 300px; 
    height: 300px;
    margin: 0 auto; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
  }
  
  .carousel-slide img {
    width: 300px; 
    height: 300px; 
  }
  
  .carousel-slide {
    text-align: center; 
    margin-top: 50px; 
  }
  
  /* Style for navigation dots */
  .ant-carousel .slick-dots li {
    margin: 0 8px;
  }
  
  .ant-carousel .slick-dots li button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
  }
  
  .ant-carousel .slick-dots li.slick-active button {
    background-color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    .carousel-container {
      width: 80%; 
      max-width: 300px; 
      height: auto; 
      margin: 0 auto; 
      margin-top: 20px;
    }
  
    .carousel-slide img {
      width: 100%; 
      height: auto; 
    }
  
    .carousel-slide {
      margin-top: 30px; 
    }
  
    /* Styles for navigation dots */
    .ant-carousel .slick-dots li {
      margin: 0 6px; 
    }
  
    .ant-carousel .slick-dots li button {
      width: 8px; 
      height: 8px; 
    }
  }
  