/* Hide the default dots */
.ant-carousel .slick-dots {
    display: none !important;
  }
  
  .custom-indicator {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .indicator-line {
    width: 50px;
    height: 4px;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .indicator-line.active {
    background-color: #1890ff;
    transform: scale(1.2); /* Scale up the active indicator */
  }
  
  .indicator-line:hover {
    background-color: #1890ff;
    transform: scale(1.2); /* Scale up the indicator on hover */
  }
  
  .ant-carousel .slick-slide {
    transition: transform 0.5s ease-in-out;
  }
  .image-gallery{
    text-align: center;
  }
  
  /* Optional: Add some keyframes for a more pronounced animation */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .ant-carousel .slick-slide {
    animation: slideIn 0.5s forwards;
  }
  