

.RoomInformationCardImage {
  width: 100%; /* Ensure the large image takes full width */
  height: 300px; /* Maintain aspect ratio */
  display: block; /* Ensure block display */
}
.aboutCouroselComponent1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}




.RoomInformation-section {
  font-size: 12px;
  font-weight: 50;
  position: relative;
  padding-bottom: 1px;
  margin-right: 20px;
  cursor: pointer;
}


.RoomInformation-section:hover {
  text-decoration: underline;
  color: #639497;
}
.RoomInformation-section::after {
  content: "";
  position: absolute;
  top: 13px;
  bottom: 13px;
  right: -10px;
  width: 1px;
  background-color: black;
  transform: translateY(-50%);
  margin-top: 15px;
}

.RoomInformation-section-PriceList {
  margin-left: 830px;
  font-size: 12px;
  margin-top: -70px;
}

.RoomInformation-section-PriceList-2 {
  margin-top: -15px;
  font-size: 10px;
}

.RoomInformation-section-All {
  border-bottom: 1px solid gray;
}

.RoomInformation-section-Book {
  position: absolute;
  right: 45px;
  font-size: 26px;
  color: white;
  background-color: #639497;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 70px;
  margin-top: -40px;
}
.RoomInformation-section-Book:hover{
  background-color: #e0ffff;
  color: black;
  border: 1px solid #000000;

}
.RoomInformation-section-Book-Container {
  margin-top: -10px;
}
.RoomInformation-heading {
  color: #639497;
  font-weight: 500;
  text-decoration: underline
  
}
.RoomInformation-headings {
  color: #639497;
  font-weight: 500;
  margin-left: 10px;
  
}
.RoomInformation-subHeadings {
  text-transform: uppercase;
  margin-left: 10px;
}
.RoomInformation-main-container{
  display: flex;
  margin-left: 10px;
}
.RoomInformation-icon-container {
  display: inline-flex;
  align-items: center;
  margin-top: 20px;

}
.RoomInformation-iconText {
  margin-right: 30px;
  margin-left: 10px;

}
.RoomInformation-text{
  margin-left: 10px;
}
.time-zone{
  margin-left: 10px;
}
.RoomInformation-textP{
  margin-left: 10px;
}
.facilitieshidebutton1{
  display: inline-block;
  margin-left: 220px;
  border: none;
  padding: 20px;
  background-color: #fffff9;
  color: #639497;
}
.facilitieshidebutton1:hover {
  background-color: #ffffff;
  color: black;
 
}
.facilitiesshowbutton1{
  display: inline-block;
  margin-left: 350px;
  border: none;
  padding: 20px;
  background-color: #fffff9;
  color: #639497;
}
.facilitiesshowbutton1:hover {
  background-color: #ffffff;
  color: black;
 
}
.columnlist{
  margin-left: -180px;
}
.site-card-room {
  position: absolute;
  top: 150px;
  right: 60px;
  z-index: 999; /* Ensure it's above other content */
}

@media (max-width: 435px) {
  .RoomInformationCardImage {
    flex: 1;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  
  /* .RoomInformation-section-All {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  } */
  
  .RoomInformation-section {
    cursor: pointer;
    flex: 1;
    text-align: left;
    padding: 5px;
    font-size: 15px;
    margin-left: 0px;
    
  }
  .RoomInformation-heading {
    cursor: pointer;
    flex: 1;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    margin-top: -20px;
    margin-left: 180px;
    
    
  }
  .fixed-head{
    margin-left: -140px;
    margin-bottom: -30px;
    
  }

  /* .RoomInformation-section-All {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray; 
    
  } */
  .sec-01{
    margin-top: 450px;
  }

  /* .RoomInformation-section {
    margin-right: 0; 
    border-right: none;
    border-left: none; 
  } */
  
  .RoomInformation-headings{
    font-size: 25px;
    margin-left: 10px;
  }
  .RoomInformation-section-PriceList {
    font-size: 5px;
    margin-left: 7px;
    margin-top: -30px;
    margin-bottom: 25px;
  }
  .RoomInformation-section-PriceList-1{
    font-size: 10px;

  }
  .RoomInformation-section-PriceList-2{
   font-size: 10px;
   margin-left: 100px;
   margin-top: -24px;
   margin-bottom: 15px;

  }
  .RoomInformation-section-Book-Container {
    margin-top: 0px;
    margin-left: 20px;
    
  }
  .RoomInformation-section-Book{
    margin-left:5px;
    font-size: 12px;
    margin-top: 5px;
    margin-right: -20px;
    padding: 5px 120px;
    border-radius: 0px;
  }
  .RoomInformation-subHeadings {
    font-size: 15px;
    margin-left: 10px;
  }
  .RoomInformation-textP {
    font-size: 15px;
    width: 120%;
    margin-left: 10px;
  }
  .RoomInformation-main-container {
    flex-direction: column;
    width: 150%;
    margin-left: 10px;
  }
  .RoomInformation-icon-container {
    flex-direction: row;
  }
  .RoomInformation-iconText {
    margin-left: 8px;
    font-size: 15px;
    font-weight: 500;
  }
  .RoomInformation-text{
    font-size: 15px;
    margin-left: 10px;
  }
  .facilitieshidebutton1{
    margin-left: 45px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 115px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1600px);
    grid-gap: 0px;
    align-items: center;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 10px;
    margin-bottom: 20px;
  }
  .time-zone{
    margin-left: 10px;
  }
  .site-card-room{
    position: absolute;
    top: 420px;
    right: 23px;
    z-index: 999; 
  }
  
}
/*media 1440px*/
@media only screen and (min-width: 1370px) and (max-width: 1440px)
{
  .RoomInformation-section-All{
    height: 40px;
  }
  .RoomInformation-section{
      margin-top: -20px;
  }

  .RoomInformation-section-PriceList {
    margin-left: 490px;
    font-size: 15px;
    margin-top: -20px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 15px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 10px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 180px;
  }
  .RoomInformation-headings{
    font-size: 22px;
    margin-left: 10px;
  }
  .RoomInformation-subHeadings {
    text-transform: uppercase;
    margin-left: 10px;
  }
  .RoomInformation-main-container{
    display: flex;
    margin-left: 10px;
  }
  .RoomInformation-textP {
    font-size: 12px;
    width: 90%;
    margin-left: 10px;
  }
  .facilitieshidebutton1{
    margin-left: 240px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 330px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1200px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -180px;
    margin-left: 0px;
    font-size: 10px;
    margin-bottom: -50px;
  }
  .site-card-room {
    position: absolute;
    top: 220px;
    right: 50px;
    z-index: 999; /* Ensure it's above other content */
  }
}
@media only screen and (min-width:770px) and (max-width:1024px){
  .RoomInformation-section-All{
    height: 40px;
  }
  .RoomInformation-section{
      margin-top: -20px;
  }
  .site-card-room{
    margin-top: -50px;
    margin-right: -15px;
  }
  .RoomInformation-section-PriceList {
    margin-left: 530px;
    font-size: 15px;
    margin-top: -60px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 15px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 12px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 15px;
    margin-top: -32px;
    margin-left: 180px;
  }
  .RoomInformation-headings{
    font-size: 22px;
    margin-left: 50px;
  }
  .RoomInformation-subHeadings {
    text-transform: uppercase;
    margin-left: 50px;
  }
  .RoomInformation-main-container{
    display: flex;
    margin-left: 50px;
  }
  .RoomInformation-textP {
    font-size: 12px;
    width: 70%;
    margin-left: 50px;
  }
  .facilitieshidebutton1{
    margin-left: 170px;
    margin-bottom: -40px;
  }
  .facilitiesshowbutton1{
    margin-left: 370px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1200px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -180px;
    margin-left: 0px;
    font-size: 10px;
    margin-bottom: -250px;
  }
}
/* media 768px*/
@media only screen and (min-width: 440px) and (max-width: 769px)
{
  .facilitieshidebutton1{
    margin-left: 115px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 250px;
  }
 .Add-card-position{
  margin-top: 420px;
 }
 .site-card-room{
  margin-right: 95px;
 }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 900px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -80px;
    margin-left: -20px;
    font-size: 7px;
    margin-bottom: 5px;
  }
  .RoomInformation-section-PriceList {
    margin-left: 355px;
    font-size: 15px;
    margin-top: -58px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 13px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 9px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 15px;
    margin-top: -35px;
    margin-left: 180px;
  }
  .RoomInformation-headings{
    font-size: 22px;
    margin-left: 10px;
  
  }
  .RoomInformation-subHeadings {
    text-transform: uppercase;
    margin-left: 10px;
  }
  .RoomInformation-main-container{
    display: flex;
    margin-left: 10px;
  }
  .RoomInformation-textP {
    font-size: 12px;
    width: 120%;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1369px)
{
.RoomInformation-section-All{
    height: 40px;
  }
  .RoomInformation-section{
      margin-top: -20px;
  }

  .RoomInformation-section-PriceList {
    margin-left: 440px;
    font-size: 15px;
    margin-top: -18px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 15px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 10px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 15px;
    margin-top: 8px;
  }
  
 
  .facilitieshidebutton1{
    margin-left: 230px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 490px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1200px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -180px;
    margin-left: -80px;
    font-size: 10px;
    margin-bottom: -350px;
  }
  .site-card-room{
    margin-top: -70px;
  }
  .RoomInformation-textP {
    font-size: 12px;
    width: 90%;
    margin-left: 10px;
  }
}

@media only screen and (min-width:1600px) and (max-width:1920px){
  .RoomInformation-section-All{
    height: 40px;
  }
  .RoomInformation-section{
      margin-top: -20px;
  }

  .RoomInformation-section-PriceList {
    margin-left: 800px;
    font-size: 15px;
    margin-top: -20px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 15px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 10px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 25px;
    margin-top: 4px;
    margin-left: 180px;
  }
  .RoomInformation-headings{
    font-size: 25px;
    margin-left: 10px;
  }
  .RoomInformation-subHeadings {
    text-transform: uppercase;
    margin-left: 10px;
  }
  .RoomInformation-main-container{
    display: flex;
    margin-left: 10px;
  }
  .RoomInformation-textP {
    font-size: 15px;
    width: 90%;
    margin-left: 10px;
  }
  .facilitieshidebutton1{
    margin-left: 320px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 450px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1200px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -180px;
    margin-left: -100px;
    font-size: 10px;
    margin-bottom: -50px;
  }
  .site-card-room {
    position: absolute;
    top: 220px;
    right: 80px;
    z-index: 999;
  }
}

@media only screen and (min-width:2000px) and (max-width:2560px){
  .RoomInformation-section-All{
    height: 45px;
  }
  .RoomInformation-section{
      margin-top: -10px;
  }

  .RoomInformation-section-PriceList {
    margin-left: 1350px;
    font-size: 15px;
    margin-top: -20px;
    flex-direction: column;
    text-align: left;
  }
  .RoomInformation-section-PriceList-1 {
    font-size: 16px;
    margin-bottom: -5px;
    text-align: left;
  }
  .RoomInformation-section-PriceList-2 {
    font-size: 10px;
    margin-top: 1px;
  }
  
  .RoomInformation-section-Book{
    font-size: 25px;
    margin-top: 4px;
    margin-left: 180px;
  }
  .RoomInformation-headings{
    font-size: 25px;
    margin-left: 30px;
  }
  .RoomInformation-subHeadings {
    text-transform: uppercase;
    margin-left: 30px;
  }
  .RoomInformation-main-container{
    display: flex;
    margin-left: 30px;
  }
  .RoomInformation-textP {
    font-size: 20px;
    width: 100%;
    margin-left: 30px;
  }
  .facilitieshidebutton1{
    margin-left: 320px;
    margin-bottom: 10px;
  }
  .facilitiesshowbutton1{
    margin-left: 480px;
  }
  .columnlist {
    display: grid;
    grid-template-columns: repeat(1, 5fr);
    grid-template-rows: repeat(1, 1200px);
    grid-gap: 0px;
    align-items: center;
    margin-top: -180px;
    margin-left: -100px;
    font-size: 10px;
    margin-bottom: -50px;
  }
  .site-card-room {
    position: absolute;
    top: 220px;
    right: 100px;
    z-index: 999;
  }
}