.room-info-cards {
    max-width: auto;
    margin: 0 auto;
    margin-top: 5px;
  }
  .info-card img {
    width: auto;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
  }
  .image-container {
    width: 100%;
    height: 100%;
  }
  .info-card {
    height: 300px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden; 
  }
  


  @media (max-width: 435px) {
    .room-info-cards .ant-row {
      flex-direction: column; 
    }
  
    .room-info-cards .ant-col {
      width: 100%; 
    }
  }