.button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  .button:hover {
    background-color: #ffffff;
  }
  
.buttonContainer{
    margin-top: 50px;
    margin-left: 800px;
}
.buttonContainer2{
    margin-top: 50px;
    margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .buttonContainer,
  .buttonContainer2 {
    margin-left: -20px; 
    margin-top: 20px; 
    
  }
  .buttonContainer{
    margin-top: 140px; 
  }
}
