/* CardSlider.css */
:root {
  /* Set a default value */
}
.meeting-card-slider {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* margin-top: 10px; */
  /* overflow: hidden; */


}

.meeting-cards-container {
  display: flex;
  transition: transform 0.3s ease;
  align-items: center;
  /* margin-left: 33.5%; */
  margin-top: 10px;
  transform: translateX(calc(var(--currentIndex) * -300px));
  margin-left: 38.7%;

}

.meeting-card {
  flex: 0 0 300px 300px;
  /* margin: ; */
  background-color: #fff7f7;
  border-radius: 00px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: opacity 0.3s ease;
  /* padding: 5px; */
}

.meeting-card.meeting-active {
  opacity: 1;
  border-radius: 10px;
  z-index: 9999;
  transform: scale(1.05);

  


}

.meeting-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;

}



.meeting-my-class{
  width: 80%;
  border: 1;
  /* background-color: tomato; */
  padding: 5px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 20px;
  border-radius: 5px;
  height: 50%;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  text-align: center

  
  


}
.meeting-non-active{
  filter: blur(0.5px); /* Adjust blur intensity as needed */

}
.meeting-card.meeting-active:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease; 


}
.meeting-non-active p,
.meeting-non-active h2{
  opacity: 0;
  transition: opacity 0.3s ease;
}

.meeting-text{
  display: flex;
  background-color: #669399;
  /* background-color: #007bff; */
  border-radius: 5px;

 
}
.meeting-title{
  width: 70%;
  margin-left: 5px;
}



.meeting-date{
  font-size: 25px;
}

.meeting-non-active.meeting-text{
  background-color: rgba(0, 0, 0, 0.5);
 
}
.meeting-non-active h3  {
position: absolute;
margin-left: 20%;
align-items: center;
margin-top: 15%;


} 
.meeting-active .meeting-text .meeting-title h3,
.meeting-active .meeting-text .meeting-title p {
  position: relative;
  margin-left: auto;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-bottom: 28px;

 
 } 
.meeting-main-date{
  line-height: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-left: 5px;
  color: #fff;
  max-height: max-content;
  font-family:Arial, Helvetica, sans-serif;
  /* background-color: rgb(161, 192, 206); */
  padding: 2px;
  border-radius: 50%;
  height: 100px;
  width: 100px;


}
.meeting-time {
  /* font-family: 'Digital-7', sans-serif; */
  font-family: 'DSEG', sans-serif;
  font-size: large;


  
}
.meeting-button{
  position:absolute;
  /* margin-top: 40px; */
  transform: translateY(-50%);
  width: 40px; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  padding: 0;
  font-size: 16px;

 
  border: none;
  border-radius: 50%; /* Makes it a circle */
  cursor: pointer;
  /* margin-right: 10px;
  margin-left: 10px; */
}
.meeting-prev-btn{
  margin-left: -600px;
  margin-top: -250px;
}
.meeting-next-btn{
  margin-left: 560px;
  margin-top: -250px;
}
.meeting-des{
  margin-top: -15px;
  font-size:medium;
}
.meeting-month{
 font-size:medium;
}


/* galaxy s20 */
@media (width: 412px) {
.meeting-prev-btn{
  margin-left: -200px;
  margin-top: -250px;
}
.meeting-next-btn{
  margin-left: 160px;
  margin-top: -250px;
}
.meeting-cards-container {

  transform: translateX(calc(var(--currentIndex) * -280px));
  margin-left: 95%;

}
.meeting-card {
  flex: 0 0 280px 280px;
}
}
/* iphone 14pro max */
@media (width: 430px) {
  .meeting-prev-btn{
    margin-left: -200px;
    margin-top: -250px;
  }
  .meeting-next-btn{
    margin-left: 160px;
    margin-top: -250px;
  }
  .meeting-cards-container {
  
    transform: translateX(calc(var(--currentIndex) * -280px));
    margin-left: 90%;
  
  }
  .meeting-card {
    flex: 0 0 280px 280px;
  }
}
/* galaxy S8+ */
@media (width: 360px) {
  .meeting-prev-btn{
    margin-left: -170px;
    margin-top: -250px;
  }
  .meeting-next-btn{
    margin-left: 130px;
    margin-top: -250px;
  }
  .meeting-cards-container {
  
    transform: translateX(calc(var(--currentIndex) * -250px));
    margin-left: 117.5%;
  
  }
  .meeting-card {
    flex: 0 0 250px 250px;
   
  }
}

@media (width: 390px) {
  .meeting-prev-btn{
    margin-left: -170px;
    margin-top: -250px;
  }
  .meeting-next-btn{
    margin-left: 130px;
    margin-top: -250px;
  }
  .meeting-cards-container {
  
    transform: translateX(calc(var(--currentIndex) * -250px));
    margin-left: 109%;
  
  }
  .meeting-card {
    flex: 0 0 250px 250px;
   
  }
}
/* ipad pro */
@media (width: 1024px) {
  .meeting-prev-btn{
    margin-left: -470px;
    margin-top: -250px;
  }
  .meeting-next-btn{
    margin-left: 425px;
    margin-top: -250px;
  }
  .meeting-cards-container {
  
    transform: translateX(calc(var(--currentIndex) * -300px));
    margin-left: 34%;
  
  }
  .meeting-card {
    flex: 0 0 300px 300px;
   
  }
}
@media (max-width:375px) {
  .meeting-prev-btn{
    margin-left: -180px;
    margin-top: -250px;
  }
  .meeting-next-btn{
    margin-left: 140px;
    margin-top: -250px;
  }
  .meeting-cards-container {
  
    transform: translateX(calc(var(--currentIndex) * -250px));
    margin-left: 112%;
  
  }
  .meeting-card {
    flex: 0 0 250px 300px;
   
  }
}