.custom-datepicker.ant-picker-outlined{
  border: none;
}
.custom-datepicker.ant-picker .ant-picker-input >input{
  font-size: 20px;
  font-weight: bold;
}
.custom-datepicker.ant-picker .ant-picker-input{
  width: 70%;
}
.custom-datepicker .anticon{
  color: #669399;
}
.ant-picker .ant-picker-clear {}

.card {
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.2);

  margin: 10px;
  overflow: hidden;
  width: 85% !important;
  background-color: white;
  color: black;
  height: 130px !important;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 16px;
  text-align: left;
}

.divider {
  height: 100px;
  background: black;
}
.divider4{
  display: none;
}

.card-titleH1 {
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 16px;
  font-family: "lato", serif;
}

.card-titleH3 {
  color: rgba(71, 54, 54, 0.5);
  margin-top: 10px;
  font-size: 14px;
  font-family: "lato", serif;
}

.containerCol {
  text-align: center;
  line-height: 10px;
}

.button-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary-check {
  background-color: #53949A;
  border-radius: 0 !important;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 50px 0 50px ;
  margin-left: 60%;
  height: 50px;
  font-family: "lato", serif;
}
.ant-space {
  display: flex;
  align-items: center;
}

.ant-input {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
  }
  .titleH1, .titleH3 {
    font-size: 12px;
  }
  .btnPrimary-check  {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .titleH1, .titleH3 {
    font-size: 14px;
  }
  .btnPrimary-check {
    background-color: #53949A;
    border-radius: 0 !important;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 20px 0 20px ;
    margin-left: 40%;
    height: 50px;
    font-size: 12px;
  }
  .custom-datepicker.ant-picker .ant-picker-input >input{
    font-size: 15px;
    font-weight: bold;
  }
}
@media (min-width: 1225px) and (max-width: 1280px) {
  .titleH1, .titleH3 {
    font-size: 14px;
  }
  .btnPrimary-check {
    background-color: #53949A;
    border-radius: 0 !important;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 20px 0 20px ;
    margin-left: 40%;
    height: 50px;
    font-size: 12px;
  }
}

@media (min-width: 1281px) and (max-width: 1366px) {
  .titleH1, .titleH3 {
    font-size: 15px;
  }
  .btnPrimary-check {
    padding: 0 40px 0 40px ;
    margin-left: 60%;
    height: 50px;
  }
}


@media (min-width: 1367px) and (max-width: 1440px) {
  .titleH1, .titleH3 {
    font-size: 15px;
  }
  .btnPrimary-check {
    padding: 0 40px 0 40px ;
    margin-left: 60%;
    height: 50px;
  }
}


@media (min-width: 1441px) and (max-width: 1924px) {
  .titleH1, .titleH3 {
    font-size: 14px;
  }
  .btnPrimary-check {
    background-color: #53949A;
    border-radius: 0 !important;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0 60px 0 60px ;
    margin-left: 50%;
    height: 60px;
    font-size: 12px;
  }
  
.card {
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 85% !important;
  background-color: white;
  color: black;
  height: 150px !important;
  margin-left: auto;
  margin-right: auto;

}
.card-body {
  padding: 16px;
  text-align: left;
  margin-top: 7px;


 
  
}

}