/* .card {
  border: 1px solid #ccc;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px; 
  background-color: white;
  color: black;
  width: 1600px;
  height: 180px;
  margin-left: 150px;
}

.card-body {
  padding: 16px;
  text-align: left;
  margin-left: 30px;
}

.devider {
  height: 130px;
  background: black;
  margin-left: -70px;
}

.titleH1 {
  color: rgb(59, 53, 53);
  margin-top: 10px;
}

.titleH3 {
  color: rgba(71, 54, 54, 0.5);
  margin-top: 10px;
}

.containerCol1 {
  margin-left: 10px;
}

.btnPrimary {
  background-color: rgb(46, 163, 134);
  margin-top: 50px;
  font-size: 30px;
  padding-bottom: 50px;
  text-align: center;
  display: block;
  width: 100%;
  justify-content: center;
}



@media screen and (max-width: 768px) {
  .card {
    width: 85%;
    height:115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
  
   
  }

  .card-body {
    margin-top: 0;
    
  }

  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 12px;
  }
  .titleH1{
    font-size: 12px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 11px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .btnPrimary {
    margin-top: -105px;
    font-size: 13px;
    margin-left: 470px;
    padding-bottom: 20px;
    padding-right: -20px;
    padding-left: -20px;
   
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 85%;
    height:115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
   
  }

  .card-body {
    margin-top: 0;
    
  }

  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 12px;
  }
  .titleH1{
    font-size: 12px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 11px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .btnPrimary {
    margin-top: -110px;
    margin-left: 620px;
    font-size: 15px;
    padding-bottom: 30px;
    z-index: 999;
  
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .card {
    width: 85%;
    height:115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
   
  }

  .card-body {
    margin-top: 0;
    
  }

  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 12px;
  }
  .titleH1{
    font-size: 12px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 11px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .btnPrimary {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {
  .card {
    width: 85%;
    height:115px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 45px;
   
  }

  .card-body {
    margin-top: 0;
    
  }

  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 12px;
  }
  .titleH1{
    font-size: 12px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 11px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .btnPrimary {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1370px) and (max-width: 1440px) {
  .card {
    width: 85%;
    height:115px;
    margin-left: 100px;
    border-radius: 45px;
    margin-top: -20px;
  }
  .card-body {
    margin-top: 0;
    
  }
  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 12px;
  }
  .titleH1{
    font-size: 12px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 11px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }
  .devider{
   
  }

  .btnPrimary {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
  }
}
@media only screen and (min-width: 1446px) and (max-width: 1600px){
  .card {
    width: 85%;
    height:115px;
    margin-left: 112px;
    border-radius: 45px;
   
  }

  .card-body {
    margin-top: 0;
    
  }

  .devider {
    margin-left: 0;
    margin-top: -20px;
    font-size: 13px;
  }
  .titleH1{
    font-size: 13px;
    align-items: center;
    margin-top: 0px;
  }
  .titleH3{
    font-size: 12px;
    margin-top: 5px;
  }

  .containerCol1 {
    margin-left: 0;
    margin-top: 0;
    line-height: 10px;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
  }

  .btnPrimary {
    margin-top: 20px;
    font-size: 20px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 1606px) and (max-width: 1919px) {
  
}

@media only screen and (min-width: 1921px) {
 
} */

.card {
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 85% !important;
  background-color: white;
  color: black;
  height: 70px !important;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  padding: 16px;
  text-align: left;
}

.divider {
  height: 100px;
  background: black;
}
.divider4{
  display: none;
}

.titleH1 {
  color: rgb(59, 53, 53);
  margin-top: 10px;
  font-size: 16px;
}

.titleH3 {
  color: rgba(71, 54, 54, 0.5);
  margin-top: 10px;
  font-size: 14px;
}

.containerCol {
  text-align: center;
  line-height: 10px;
}

.button-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary-check {
  background-color: #53949A;
  border-radius: 0 !important;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 50px 0 50px ;
  margin-left: 60%;
  height: 50px;
}
.ant-space {
  display: flex;
  align-items: center;
}

.ant-input {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    height: auto;
  }
  .titleH1, .titleH3 {
    font-size: 12px;
  }
  .btnPrimary-check  {
    font-size: 12px;
    padding: 8px 16px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .titleH1, .titleH3 {
    font-size: 14px;
  }
  .btnPrimary-check {
    font-size: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .titleH1, .titleH3 {
    font-size: 15px;
  }
  .btnPrimary-check  {
    font-size: 17px;
  }
}

@media (min-width: 1367px) {
  .titleH1, .titleH3 {
    font-size: 16px;
  }
  .btnPrimary-check {
    font-size: 18px;
  }
}
