.EnsuiteRoom-container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .card  {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 50px;
    margin-top: 50px;
  }
  .card-body{
    border-radius: 15px;
  }
  
  .containerCol1 {
    flex: 1;
    padding: 2rem;
  }
  
  .titleH1 {
    font-size: 0.875rem;
    font-weight: 600;
    color: #4a5568;
  }
  
  .titleH3 {
    font-size: 1.125rem;
    color: #2d3748;
  }
  
  .btnPrimary {
    background-color: #669399;
    color: #ffffff;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 45px;
  }
 
 .aboutContainer{
    margin-top: -30px;
 }
 .room-icon {
  width: 20px; 
  height: 20px; 
  margin-left: 20px;
  margin-top: 10px;
}
.rooms-icon{
  width: 20px; 
  height: 20px; 
  margin-left: 20px;
  /* margin-top: 10px; */
  display: block;
} 
.room-icons{
  width: 20px; 
  height: 20px;
  display: flex;
  margin-top: -20px;
  margin-left: 60px;
}
.hotelRoomTypeCardInfoRow{
  margin-top: -20px;
}
.hotelRoomTypeCardImage {
  flex: 1; /* Take up 50% of the height */
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
} 
@media (max-width: 768px) {
  .EnsuiteRoom-container {
    overflow-x: hidden;
  }
}