.EnsuiteRoom-Main-container {
    max-width: 100%;
    margin: 0 auto;
  }
  .EnsuiteRoom-heading{
    text-align: center;
    line-height: 50px;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 80px;
  }
 .room-icon {
  width: 20px; 
  height: 20px; 
  margin-left: 20px;
  margin-top: 10px;
}
.rooms-icon{
  width: 20px; 
  height: 20px; 
  margin-left: 20px;
  /* margin-top: 10px; */
  display: block;
} 
.room-icons{
  width: 20px; 
  height: 20px;
  display: flex;
  margin-top: -20px;
  margin-left: 60px;
}

@media (max-width: 768px) {
  .EnsuiteRoom-container {
    overflow-x: hidden;
    margin-top: 600px;
    margin-left: 15px;
  }
  .EnsuiteRoom-sitecard{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .EnsuiteRoom-aboutH1{
    text-align: center;
    font-size: 30px;
    margin-left: -35px;
  }
}