
.head-main {
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/HotelFront.webp");
  background-size: cover;
  text-align: center;
  overflow: hidden; /* Ensures overlay stays within container bounds */
  width: 100%;
  margin-top: -10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black color with 0.5 opacity */
  z-index: 1; /* Ensures the overlay is above the background but below the content */
  pointer-events: none; /* Ensures that the overlay doesn't interfere with clicking elements inside the container */
}

.hero-container,
.headerLogoPosition,
.header-title,
.header-slogan {
  position: relative;
  z-index: 2; /* Ensures the content is above the overlay */
}

.headerLogo {
  width: 400px;
  padding: 20px;
}

.headerLogoPosition {
  margin-top: 20px;
}

.heading-container h1 {
  font-size: 90px;
  margin-right: auto;
  margin-left: auto;
}

.header-title {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
 
}

.header-slogan {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  padding: 10px 40px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  font-family: "Cinzel", serif;

}

@media screen and (width: 390px) {
  .home-sitecard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 40% !important;
    z-index: 999;
    text-align: left;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .home-sitecard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    z-index: 999;
    text-align: left;
    width: 100%;
  }
  .headerLogo {
    width: 60%;
    padding: 10px;
  }
  .headerLogoPosition {
  
  }
  .heading-container h1 {
    font-size: 60px;
  }
  .heading-container {
    line-height: 110px;
  }
  .header-title {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .header-slogan {
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding: 10px 40px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 2px;
    margin-top: 10px;
  }
}
@media (max-height: 750px){
  .home-sitecard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 35%;
    z-index: 999;
    text-align: left;
    width: 100%;
  }
  .head-main {
    position: relative;
    height: 110vh;
    background-image: url("../assets/images/HotelFront.webp");
    background-size: cover;
    text-align: center;
    overflow: hidden; /* Ensures overlay stays within container bounds */
    width: 100%;
  }
  


}

