.hotelRoomTypeCardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: auto;
  width: 90%;
  margin-bottom: 20px;
  margin-left: -25px;
  
  transition: transform 0.3s ease, box-shadow 0.5s ease;
}
.hotelRoomTypeCardContainer:hover {
  box-shadow: 0 4px 1rem -4px #33cccc;
    transform: translateY(6px);
}


.hotelRoomTypeCardImage {
  flex: 1; /* Take up 50% of the height */
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.hotelRoomTypeCardDetails {
  flex: 1; /* Take up 50% of the height */
  width: 70%;
}

/* .hotelRoomTypeCardTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
} */

/* .hotelRoomTypeCardTitle2 {
  font-size: 16px;
  font-weight: lighter;
  margin-left: 140px;
} */

/* .hotelRoomTypeCardTitleTextFirst {
  border-bottom: 2px solid rgba(5 5, 5, 0.068);
  padding-bottom: 10px;
  width: 100%;
} */

/* .cardDescription {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
  } */

.hotelRoomTypeCardInfoRow {
  display: flex;
  /* margin-bottom: 5px; */
  flex-direction: row;
  margin-top: 5px;
  margin-left: 45px;
}

/* .cardInfoText {
    font-size: 12px;
  } */

/* .hotelRoomTypeCardPriceText {
  font-size: 14px;
  font-weight: bold;
} */

.hotelRoomTypeCardButton {
  font-size: 20px;
  color: white;
  background-color: #5E888C;
  border: none;
  border-radius: 0px;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 220px;
  width:125px;
  margin-top: 5px;

}

.HotelRoomTypeTextShown {
  display: flex;
  /* flex-direction: row; */
  margin-bottom: 10px;
  
}

.hotelRoomTypeCardButton:hover {
  background-color: #118989;
}


.hotelRoomTypeCardTopBar {
  background-color: #ffffffc2;
  flex: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 100px;
  color: #000;
  font-size: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
  margin-top: 4px;
}

.HotelRoomTypeTextPara{
  margin-left: 250px;
  margin-bottom: -20px;
  margin-top: -10px;
  font-size: 12px;
  font-weight: 500;
}
.HotelRoomTypeTextPara p{
  width: 150px;
}

.hotelRoomTypeCardButton-mobile-line{
  display: none;
}
.hotelRoomTypeCardButton-dis{
  display: none;
}


@media only screen and (max-width: 768px) {
  .hotelRoomTypeCardButton-dis{
    display: flex;
  }
  .hotelRoomTypeCardButton-dis-left p{
width: 70%;
margin-left: 10px;
  }
  .hotelRoomTypeCardButton-dis-right p{
    margin-left: 10px;
      }
      .HotelRoomTypeTextShown{
        display: none;
      }
      .hotelRoomTypeCardDetails{
        display: none;
      }
  .hotelRoomTypeCardContainer {
    width: 360px;
    margin-left:-165px;
    overflow-x: hidden;
  }
  .hotelRoomTypeCardButton-link{
    display: none;
  }
  .hotelRoomTypeCardButton-mobile-line{
    display: flex;
    text-decoration: none;
  }
  .hotelRoomTypeCardButton-mobile{
    font-size: 20px;
    color: white;
    background-color: #5E888C;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    width:95%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-decoration: none;
  }

  .hotelRoomTypeCardButton {
    /* width: 80%; */
    font-size: 18px;
    margin-left: 150px;
    margin-top: 10px;
  }
  .hotelRoomTypeCardTopBar {
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* position: relative; */
    top: auto;
    margin-bottom: 10px;
  }
  .hotelRoomTypeCardInfoRow{
    width:300%;
  }
  .hotelRoomTypeCardInfoRow,
  .HotelRoomTypeTextPara,
  .hotelRoomTypeCardButton {
    display: inline-block;
  }
  .HotelRoomTypeTextPara {
    order: 1; 
    margin-left: -275px;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1369px){
  .hotelRoomTypeCardButton {
    margin-left: 150px;
    width:125px;
    }
}
@media only screen and (min-width: 770px) and (max-width: 1025px){
  .hotelRoomTypeCardButton {
    margin-left: 50px;
    width:125px;
    }
    .HotelRoomTypeTextPara{
      margin-left: 150px;
      margin-bottom: -20px;
      margin-top: -10px;
      font-size: 12px;
      font-weight: 500;
    }
    .hotelRoomTypeCardContainer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: white;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      height: auto;
      width: 100%;
      margin-bottom: 20px;
      margin-left: -100px;
      
      
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1925px){
  .hotelRoomTypeCardButton {
    margin-left: 50px;
    width:155px;
    }
    .HotelRoomTypeTextPara{
      margin-left: 650px;
      margin-bottom: -20px;
      margin-top: -10px;
      font-size: 12px;
      font-weight: 500;
    }
    .hotelRoomTypeCardContainer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: white;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      height: auto;
      width: 100%;
      margin-bottom: 20px;
      margin-left: -180px;
      
      
    }
}