.hotelRoomTypeCardContainer {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background-color: white;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  height: auto;
  width: 90%;
  margin-bottom: 20px;
  margin-left: -25px;
  transition: transform 0.3s ease, box-shadow 0.5s ease;
}
.hotelRoomTypeCardContainer:hover {
  box-shadow: 0 4px 1rem -4px #33cccc;
    transform: translateY(6px);
}
.hotelRoomTypeCardImage {
  flex: 1; /* Take up 50% of the height */
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
}

.hotelRoomTypeCardDetails {
  flex: 1; /* Take up 50% of the height */
  width: 70%;
}

.hotelRoomTypeCardInfoRow {
  display: flex;
  /* margin-bottom: 5px; */
  flex-direction: row;
  margin-top: 5px;
  margin-left: 45px;
}
.hotelRoomTypeCardButton {
  font-size: 20px;
  color: white;
  background-color: #3883af;
  border: none;
  border-radius: 0px;
  padding: 10px 10px;
  cursor: pointer;
  margin-left: 220px;
  width:125px;
  margin-top: 5px;
}
.HotelRoomTypeTextShown {
  display: flex;
  /* flex-direction: row; */
  margin-bottom: 10px; 
}
.HotelRoomTypeCartButtonMain {
  display: flex;
  justify-content: flex-end;
}
.HotelRoomTypeCartButtonDesk {
  display: flex;
  justify-content: flex-end;
}

.hotelRoomTypeCardButton:hover {
  background-color: #118989;
}


.hotelRoomTypeCardTopBar {
  background-color: #ffffffc2;
  flex: 1;
  position: absolute;
  padding-left: 10px;
  padding-right: 100px;
  color: #000;
  font-size: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
  margin-top: 4px;
}

.HotelRoomTypeTextPara{
  margin-left: 250px;
  margin-bottom: -20px;
  margin-top: -10px;
  font-size: 12px;
  font-weight: 500;
}
.HotelRoomTypeTextPara p{
  width: 150px;
}
.mobileButton1{
  display: none;
}

@media only screen and (max-width: 768px) {
  .hotelRoomTypeCardContainer{
    overflow-x: hidden;
  }
  .mobileButton {
    font-size: 100%;
    color: white;
    background-color: #3883af;
    border: none;
    border-radius: 3px; 
    padding: 5px 10px;
    cursor: pointer;
    width: 100%; 
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    text-decoration: none;
    margin: 10px 0 20px 15px; 
    font-size: 18px;
}
  .hotelRoomTypeCardButton{
    opacity: 0;
  }
  .hotelRoomTypeCardButton:hover {
    background-color: #e0ffff;
    color: black;
    border: 1px solid #000000
  }
  
  .hotelRoomTypeCardContainer {
    width: 360px;
    margin-left:-165px;
    overflow-x: hidden;
  }

  .hotelRoomTypeCardButton {
    /* width: 80%; */
    font-size: 18px;
    margin-left: 150px;
    margin-top: 10px;
  }
  .hotelRoomTypeCardTopBar {
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* position: relative; */
    top: auto;
    margin-bottom: 10px;
  }
  .hotelRoomTypeCardInfoRow{
    width:300%;
  }
  .hotelRoomTypeCardInfoRow,
  .HotelRoomTypeTextPara,
  .hotelRoomTypeCardButton {
  
  }
  .HotelRoomTypeTextPara {
    order: 1; 
    margin-left: -275px;
  }
}
@media only screen and (min-width: 1030px) and (max-width: 1369px){
  .hotelRoomTypeCardButton {
    margin-left: 150px;
    width:125px;
    }
}
@media only screen and (min-width: 770px) and (max-width: 1025px){
  .hotelRoomTypeCardButton {
    margin-left: 50px;
    width:125px;
    }
    .HotelRoomTypeTextPara{
      margin-left: 150px;
      margin-bottom: -20px;
      margin-top: -10px;
      font-size: 12px;
      font-weight: 500;
    }
    .hotelRoomTypeCardContainer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: white;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      height: auto;
      width: 100%;
      margin-bottom: 20px;
      margin-left: -100px; 
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1925px){
  .hotelRoomTypeCardButton {
    margin-left: 50px;
    width:155px;
    }
    .HotelRoomTypeTextPara{
      margin-left: 650px;
      margin-bottom: -20px;
      margin-top: -10px;
      font-size: 12px;
      font-weight: 500;
    }
    .hotelRoomTypeCardContainer {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background-color: white;
      box-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
      overflow: hidden;
      height: auto;
      width: 100%;
      margin-bottom: 20px;
      margin-left: -180px;
      
      
    }
}