.signUpIn-body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif; 
  }
  .signUpIn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
    
    .signUpIn-fullRow {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
    
    .signUpIn-Logpicture {
      flex: 2;
      display: flex;
    justify-content: center;
    }
    
    .signUpIn-Logpicture img {
      width: 100%;
      height: auto;
      position: relative;
      top: 0;
      left: 0;
    }
    
    .signUpIn-header {
      flex: 1;
      padding: 20px;
      margin: 100px 50px;
      
    }
    
    .signUpIn-text {
      font-size: 1.5rem;
      font-weight: 700;
      font-style: normal;
      color: #669399;
      
    }
    
    .signUpIn-Subtext {
      margin-top: 10px;
      color: #555;
      font-size: 11px;
    }
    
    .signUpIn-inputs {
      margin-top: 30px;
    }
    
    .signUpIn-input {
      margin-bottom: 10px;
      color:#d5d5d5;
    }
    
    .signUpIn-input input {
      width: 90%;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #f4f5fb;
    }
    .signUpIn-passwordWrapper {
      position: relative;
    }
    .signUpIn-ResetpasswordWrapper{
      position: relative;
      margin-top: 15px;
    }
    .signUpIn-togglePassword {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    .signUpIn-input input[type="text"]::placeholder,
    input[type="email"]::placeholder,
    input[type="password"]::placeholder {
      color: #d5d5d5;
      font-size: 13px;
    }
    
    .signUpIn-SubmitContainor {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      font-size: 13px;
      line-height: 20px;
      font-style: normal;
      font-weight: bold;
    }
    
    .signUpIn-submit {
      background-color: #669399;
      color: #fff;
      text-align: center;
      padding: 10px;
      cursor: pointer;
      
    }
    
    .signUpIn-signUpGoogle {
      margin-top: 10px;
      color: black;
      text-align: center;
      padding: 10px;
      border: 2px solid #669399;
      cursor: pointer;
    }
    
    .signUpIn-alreadyAccount {
      margin-top: 20px;
      font-size: 14px;
    }
    
    .signUpIn-alreadyAccount span {
      color: #007bff;
      cursor: pointer;
    }
    .signUpIn-input input:focus {
      outline: none; 
    }
    .signUpIn-alreadyAccount a {
      text-decoration: none;
      cursor: pointer;
      color:#6aafe5; 
    }
    
    .signUpIn-alreadyAccount a:hover {
      text-decoration: none; 
    }
    
    .signUpIn-error {
      color: red; 
      font-size: 14px; 
    }
    .signUpIn-successMessage {
      background-color: #d4edda; 
      color: #155724; 
      border: 1px solid #c3e6cb; 
      padding: 10px; 
      margin: 10px 0; 
      border-radius: 5px; 
    }
    .signUpIn-forgotPassword {
      text-align: right;
    }
    
    .signUpIn-forgotPassword a {
      text-decoration: none;
      text-transform: uppercase;
      color: #6aafe5;
      font-size: 0.9rem;
      font-weight: 600;
    }
    
    
    
    @media (max-width: 430px) {
      
        .signUpIn-Logpicture img {
          position: fixed;
          width:100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1; 
          object-fit: cover;
        }
        .signUpIn-header {
          position: fixed;
          z-index: 1;
          top: 50%;
          left: 50%;
          transform: translate(-65%, -65%);
          width: 70%;
          background-color: white;
        }
         
        .signUpIn-text {
          font-size: 1.7rem;
          padding-bottom:10px ;
          margin-top: 10px;
          font-weight:600;
        } 
        .signUpIn-Subtext{
          font-size:20px;
        }
        .signUpIn-input input {
          width: 90%;
          padding: 10px;
          border: none;
          background: transparent;
          font-size: 20px;
          margin: 10px;
          border-bottom: 1px solid #f4f5fb;
        }
        .signUpIn-input input[type="text"]::placeholder,
         input[type="email"]::placeholder,
         input[type="password"]::placeholder {
             font-size: 20px;
          }
          .signUpIn-SubmitContainor{
            font-size: 20px;
            font-weight: 600;
          }
          .signUpIn-signUpGoogle {
            font-size: 20px;
          }
          .signUpIn-alreadyAccount{
            font-size: 20px;
          }
          .signUpIn-alreadyAccount {
            text-align: center; 
          }
          .signUpIn-alreadyAccount span{
            display: inline-block;
          }
          .signUpIn-error {
            font-size: 20px; 
          }
          .signUpIn-successMessage {
            font-size: 20px; 
          }
  
      }
      
  
  
    