@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.RoomType-containor {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.RoomType-CardContainor{
  margin-top: 50px;
}
.RoomType-TextWrapper{
  padding-top: 20px;
}
.RoomType-header {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 48px;
  font-weight: 500;
}
.RoomType-p {
  font-size: 15px;
  line-height: 1.5;
  font-weight: 500;
  padding: 0 80px;
  text-align: center;
  margin: 0 30px;
}
.RoomType-subHead {
  margin-left: 150px;
}
.RoomType-subHading {
  text-align: left;
  font-family: "Cinzel", serif;
  font-size: 36px;
  font-weight: 500;
}
.RoomType-typecontainor {
  align-items: left;
  margin-left: 180px;
}
@media only screen and (max-width: 768px) {
  .RoomType-containor {
    align-items: center;
  }
  .RoomType-header {
    text-align: center;
  }
  .RoomType-p {
    text-align: justify;
    padding: 10px;
    margin-top: -10px;
  }
  .RoomType-subHading {
    text-align: left;
    margin-left: -110px;
  }
  .RoomType-typecontainor {
    align-items: center;
  }
}
@media only screen and (min-width: 2000px) and (max-width: 2560px) {
  .RoomType-sub {
    text-align: center;
    margin: 0 150px;
  }
  .RoomType-subHading {
    text-align: left;
    margin-left: 200px;
  }
  .RoomType-typecontainor {
    align-items: center;
    margin-left: 200px;
  }
  .RoomType-p{
    font-size: 25px;
  }
}
@media only screen and (min-width:1600px) and (max-width:1920px){
  .RoomType-sub {
    text-align: center;
    margin: 0 50px;
  }
  .RoomType-subHading {
    text-align: left;
    margin-left: 150px;
  }
  .RoomType-typecontainor {
    align-items: center;
    margin-left: 150px;
  }
  .RoomType-p{
    font-size: 20px;
  }
}
