.hotelRoomMainRow {
  width: 80%;
  margin-left: 10%;
}

@media (max-width: 768px) {
    .hotelRoomMainRow {
      display: block; 
      width: 80%;
      /* margin-left: 20px; */
      margin-right: auto;
      margin-left: auto;
      align-items: center;
      
    }
   
    .hotelRoomMainRow > .ant-col {
      width: 95%;
      margin-bottom: 20px; /* Add spacing between columns */
    }
  }
  