.hotelRoomMainDiv {
  width: 100%;
  align-items: center;


}
.hotelRoom-row {
 width: 90%;
 margin-left: auto !important;
 margin-right: auto !important;
 justify-content: center;
 align-items: center;
}
.hotelRoom-col {
  display: flex;
  flex-direction: row;
  gap: auto;

}

@media (max-width: 768px) {
      .hotelRoomMainDiv {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
     
   
    }
  }
  