.hotelRoomMainDiv {
  width: 100%;
  align-items: center;


}
.rooms-sub-content{
  color: rgba(51, 49, 49, 0.767);
  opacity: 1;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: justify;
  line-height: 1.5;
  font-family: "lato", sans-serif;
  
}
.hotelRoom-row {
 width: 90%;
 margin-left: auto !important;
 margin-right: auto !important;
 justify-content: center;
 align-items: center;
}
.hotelRoom-col {
  display: flex;
  flex-direction: row;
  gap: auto;

}

@media (max-width: 768px) {
      .hotelRoomMainDiv {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
      }
  
  .hotelRoomMainRow {
    display: block; /* Change to block to display columns one after the other */
    width: 80%;
    /* margin-left: 20px; */
    
  }
  .rooms-main-contaner {
    width: 95%;
  }

  .hotelRoomMainRow > .ant-col {
    width: 100%; /* Each column takes up full width on mobile */
    margin-bottom: 20px; /* Add spacing between columns */
  }
}
