.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-logo {
  text-align: left;
}

.navbar-menus {
  
  display: flex;
}

.navbar-menus a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  margin-left: auto;
}

.navbar-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #444;
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #555;
}
